# Flask Environment Configuration
FLASK_APP=backend.app
FLASK_ENV=development
FLASK_DEBUG=True

# Security
SECRET_KEY=8fK#v2Q!mR9$xL7@pZ4%tN6^wC3&jH1*eS5

# Database Configuration
# DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres

# Any other external API keys should go here
# MAPS_API_KEY=your_maps_api_key

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
